<div class="center">
    <h1>Side-Side</h1>
    <h3>A Virtual Record Collection</h3>

    <p id="description">Welcome to Side-Side, a music database and virtual record collection.  Get started by searching for an artist.  You can view an artists profile and their body of work.  After you've found an album your're interested in, you may save it to your collection.  You can use the 'Collecton' page to view all your saved albums.  You may also group your saved records together by a category name by visiting the 'Categories' page.  </p>

    <br>
    <h2>Featured Records:</h2>
</div>

