<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/lux.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Side-Side</title>
</head>
<body>

        <div class="header-box">
            <!-- <img src="public/images/record.png" width="100" alt="record image"> -->
            <h1 class="center header">Side-Side: virtual record collection</h1>
            <!-- <img src="public/images/record.png" width="100" alt="record image"> -->
        </div>
    
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Side-Side</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <!-- <li class="nav-item">
                    <a class="nav-link active" href="/">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li> -->
                  
                  <% if (user) { %>
                    <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Collection</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/users/profile">Hello, <%=user.username %></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/logout">Log Out</a>
                  </li>
                  <% } else {%>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/new">Sign-Up</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login">Log In</a>
                  </li>
                  <% } %> 
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </li> -->
                </ul>
               
                    <form method="GET" action="/results" class="d-flex">
                      <input class="form-control me-sm-2" type="text" id="search" placeholder="Search for an artist" name="q" required>
                      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
             
              </div>
            </div>
          </nav>
<!-- 
          <h2>Search for an artist...</h2>
          <form method="GET" action="/results">
              <label for="search">Search: </label>
              <input type="text" id="search" placeholder="search an artist" name="q">
              <input type="submit">
          </form> -->

    <%- body  %> 
    
</body>
</html>