<% if (error) { %>
    <em><%= error %> </em>
<% } %>
<div class="center">
<h3 class="center">Log In</h3>

<form action="/users/login" method="post">
    <!-- <label for="email"> Email: </label>
    <input type="email" name="email" id="email">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password">
    
    <button type="submit">Log In</button> -->

    <div class="form-group">

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
            <label for="email">Email Address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="name@example.com" required>
            <label for="password">Password</label>
        </div>
    
    </div>
    
    <button type="submit" class="btn btn-primary">Log In</button>
    
</form>
</div>