<div class="center">
<h3>Sign-up</h3>



    <form action="/users" method="post">


        <div class="form-group">
            <div class="form-floating mb-3">
                <input type="username" class="form-control" id="username" name="username" placeholder="name@example.com">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="email">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="name@example.com">
                <label for="password">Password</label>
            </div>
        
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>

</div>