<!-- <ul>
    
    <% //artists.forEach(artist => { %>
        <div>
            <h3><a href="/artists"><%=// artist.title %></a> </h3>
        </div>
        <a href="/results/<%=//artist.id%>"><img src="<%=///artist.cover_image %>" width="300px" alt="cover image"></a>
    <% //})%>

</ul> -->
