
<div class="container">
    
    <% releases.forEach((release)=> { %>
        <div>
            <p><%=release.title %>(<%=release.year %>) </p>
            <img src="<%=release.thumb %>" width=200 alt="album cover image">
            <div>
                <a href="/albums/<%=release.id %> "><button type="button" class="btn btn-success">See Details</button></a>
            </div>
        </div>
        
     <% }) %>
</div>
